---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="个人主页 | Peng Xianzhe">
	<main>

		<h1>&#8195;你是<span class="text-gradient">谁？</span></h1>
		
		<p class="instructions">
			由于我的个人网站内容无法做到普及全部人群、照顾一切目的，
			<strong>请选择您的角色</strong>以查看对应内容。
			以下语句使用的
			"&nbsp;/&nbsp;"&thinsp;符号和
			"&"&thinsp;符号都表示&thinsp;“或”&thinsp;的关系。
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="高校院所 | Academic"
				body="&#8195;&#8195;专科生 / 本科生 / 高等学校教师 / 具备专业技术型职称 / 研究生"
			/>

			<Card
				href="https://astro.build/chat/"
				title="应用实业 | Professional"
				body="&#8195;&#8195;如果你是：来招聘的 / 想谈谈合作 / 要询问实际操作的技术问题"
			/>

			<Card
				href="https://astro.build/integrations/"
				title="基础教育 | Basic Education"
				body="&#8195;&#8195;小学生 / 初中生 / 普高生 / 中小学教师 / 中小学生家长 / 幼儿抚养人"
			/>
			<Card
				href="https://astro.build/themes/"
				title="文化艺术 | Arts & Ent"
				body="&#8195;&#8195;假设你想看：随意地收集整理别人写的：饮食 & 音乐 & 绘画 & 文学"
			/>

			<Card
				href="https://astro.build/chat/"
				title="谝闲传 | Idle Talk"
				body="&#8195;&#8195;要是你闲得没事做，想看看既随意草率又很无聊的文字内容。"
			/>

			<Card
				href="/communication"
				title="原本互相认识 | Acquaintance"
				body="&#8195;&#8195;如果你是我认识的人，急需我的即时通讯方式恢复联系。"
			/>

		</ul>

		<h5>
			<p>
			&#8195;&#8195;I Regret to Inform You that an <span class="text-gradient">English Version</span>
			of This Website Is <span class="text-gradient">NOT Provided.</span>
			Perhaps you could use a translator offered by the browser.
			</p>
			<br>
		</h5>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #806d9e;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: #621624; 
		background-size: 400%;
		background-position: 0%;
	}

	
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid var(--accent-light), 25%);
		color: #21373d;
		background: #c7d2d4;
		padding: 1.5rem;
		border-radius: 8px;
		text-indent: 2em;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: #c7d2d4;
		color: #21373d;
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: #1f2623;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
