---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Newcard from '../components/new-card.astro';
---

<Layout title="个人主页 | Peng Xianzhe">
	<main>

		<h1>&#8195;你是<span class="text-gradient">谁？</span></h1>
		
		<p class="instructions">
			由于我的个人网站内容无法做到普及全部人群、照顾一切目的，
			<strong>请选择您是什么角色</strong>或者想看什么内容。
			以下语句使用的
			"&nbsp;/&nbsp;"&thinsp;符号和
			"&"&thinsp;符号都表示&thinsp;“或”&thinsp;的关系。
		</p>
		<ul role="list" class="link-card-grid">
			<Newcard
				href="https://academic.pengxianzhe.org/"
				title="高校院所 | Academic"
				body="&#8195;&#8195;专科生 / 本科生 / 高等学校教师 / 具备专业技术型职称 / 研究生"
			/>

			<Card
				href="https://astro.build/chat/"
				title="生产制造 | Production"
				body="&#8195;&#8195;如果你想看某些实际操作的经验 / 想了解我听说的行业动向 "
			/>

			<Card
				href="https://astro.build/chat/"
				title="公共计划 | Public Design"
				body="&#8195;&#8195;社会主义市场经济公共计划及治理工作实务 "
			/>

			<Card
				href="https://astro.build/chat/"
				title="商业活动 | Commercial Business"
				body="&#8195;&#8195;债务流通 / 公司金融 / 市场营销 / 原材料证券"
			/>

			<Newcard
				href="https://astro.build/integrations/"
				title="基础教育 | Basic Education"
				body="&#8195;&#8195;初中生 / 普高生 / 中小学生家长 / 中小学教师 / 小学生 / 幼儿抚养人"
			/>

			<Card
				href="https://astro.build/integrations/"
				title="文化艺术 | Culture & Arts"
				body="&#8195;&#8195;古代经典文本 & 饮食 & 音乐 & 绘画 & 文学 | 源流和变迁"
			/>

			<Card
				href="https://astro.build/chat/"
				title="谝闲传 | Idle Talk"
				body="&#8195;&#8195;要是你闲得没事做，想看看既随意草率又很无聊的文字内容。"
			/>

			<Card
				href="/communication"
				title="原本互相认识 | Acquaintance"
				body="&#8195;&#8195;如果你是我认识的人，急需我的即时通讯方式恢复联系。"
			/>

		</ul>

		<h5>
			<p>
			&#8195;&#8195;I Regret to Inform You that an <span class="text-gradient">English Version</span>
			of This Website Is <span class="text-gradient">NOT Provided.</span>
			Perhaps you could use a translator offered by the browser.
			</p>
			<br>
		</h5>

			<style>
				.grid-container {
				display: grid;
				grid-template-columns: auto auto;
				grid-gap: 10px;
				background-color: #f1f0ed;
				padding: 10px;
				}
				
				.grid-container > div {
				background-color: #f1f0ed;
				text-align: center;
				padding: 20px 0;
				font-size: 15px;
				}
			</style>

			<div class="grid-container">

				<div>
		
					亲情链接
					<br>
					<a href="http://www.mysng.com/history.php">绵阳市少年宫</a>
					<a href="https://j.map.baidu.com/06/oJpi">幼儿园</a>
					<br>
					<a href="https://www.archdaily.cn/cn/1010983/shen-zhen-shi-di-er-you-er-yuan-xu-yun-chao-jian-zhu-gong-zuo-shi">深圳市第二幼儿园</a>
					<br>
					<a href="https://j.map.baidu.com/0e/fQC">绵阳市实验小学</a>
					<br>
					<a href="https://skc.ecnu.edu.cn/">华东师范大学社会科学</a>
					<strong><span class="text-gradient">经济系</span></strong>
		
				</div><div>
		
					友情链接
					<br>
					<a href="https://weibo.com/u/5866398493">INXOR音乐创作社</a>
					<br>
					<a href="https://mp.weixin.qq.com/s/V2-pK3wAljQApCTy7HwJEg">四川自然学堂</a>
					<br>
					<a href="https://sem.ecnu.edu.cn/ltwjz/list.htm">华东师大经管学院</a>
			
				</div>
			</div>
		
			<p>
				<small>&#8195;&#8195;由于境内无厂商提供可自定义域名的托管站点免费服务，本站托管在境外服务器，境内网络浏览有可能出现不稳定、无图片、格式混乱等故障。</small>
			</p>
			
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #806d9e;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		-webkit-background-clip: padding-box; /* 旧版Webkit浏览器前缀 */
		background-clip: padding-box;
	}

	.text-gradient {
		-webkit-background-clip: text;
		-webkit-text-fill-color: #621624; 
		background-size: 400%;
		background-position: 0%;
		-webkit-background-clip: padding-box; /* 旧版Webkit浏览器前缀 */
  		background-clip: padding-box;
	}

	
	.instructions {
		margin-bottom: 2rem;
		border: 0px;
		color: #21373d;
		background: #e9d7df;
		padding: 1.5rem;
		border-radius: 8px;
		text-indent: 2em;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: #c7d2d4;
		color: #21373d;
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: #1f2623;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
