---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Newcard from '../components/new-card.astro';
import Footer from '../components/Footer.astro'
---

<Layout title="个人主页 | Peng Xianzhe">
	<main>

		<h1>&#8195;你是<span class="text-gradient">谁？</span></h1>
		
		<p class="instructions">
			由于我的个人网站内容无法做到普及全部人群、照顾一切目的，
			<strong>请选择您是什么角色</strong>或者想看什么内容。
			以下语句使用的
			"&nbsp;/&nbsp;"&thinsp;符号和
			"&"&thinsp;符号都表示&thinsp;“或”&thinsp;的关系。
		</p>
		<ul role="list" class="link-card-grid">
			<Newcard
				href="https://academic.pengxianzhe.org/"
				title="高校院所 | Academic"
				body="&#8195;&#8195;专科生 / 本科生 / 高等学校教师 / 具备专业技术型职称 / 研究生"
			/>

			<Card
				href="https://industry.pengxianzhe.org"
				title="生产制造 | Production"
				body="&#8195;&#8195;如果你想看某些实际操作的经验 / 想了解我听说的行业动向 "
			/>

			<Card
				href="https://public.pengxianzhe.org"
				title="公共计划 | Public Design"
				body="&#8195;&#8195;社会主义市场经济公共计划及治理工作实务 "
			/>

			<Card
				href="https://commercial.pengxianzhe.org"
				title="商业活动 | Commercial Business"
				body="&#8195;&#8195;债务流通 / 公司金融 / 市场营销 / 原材料证券"
			/>

			<Newcard
				href="https://education.pengxianzhe.org"
				title="基础教育 | Basic Education"
				body="&#8195;&#8195;初中生 / 普高生 / 中小学生家长 / 中小学教师 / 小学生 / 幼儿抚养人"
			/>

			<Card
				href="https://arts.pengxianzhe.org"
				title="文化艺术 | Culture & Arts"
				body="&#8195;&#8195;古代经典文本 & 饮食 & 音乐 & 绘画 & 文学 | 源流和变迁"
			/>

			<Card
				href="https://general.pengxianzhe.org"
				title="谝闲传 | Idle Talk"
				body="&#8195;&#8195;要是你闲得没事做，想看看既随意草率又很无聊的文字内容。"
			/>

			<Card
				href="/communication"
				title="原本互相认识 | Acquaintance"
				body="&#8195;&#8195;如果你是我认识的人，急需我的即时通讯方式恢复联系。"
			/>

		</ul>

			<br>

		<hr/>
			<p>
				<br>
					<strong>
						I Regret to Inform You that an
						<span class="text-gradient">English Version</span>
						of This Website Is
						<span class="text-gradient">NOT Provided.</span>
					</strong>
					You may currently consider utilizing a browser-based translation tool for assistance.
			</p>
		
		<Footer/>
		
</Layout>



<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #806d9e;
		font-size: 20px;
		line-height: 1.6;
	}

	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
	}

	.text-gradient {
		-webkit-background-clip: text;
		-webkit-text-fill-color: #621624; 
		background-size: 400%;
		background-position: 0%;
		-webkit-background-clip: padding-box;
  		background-clip: padding-box;
	}

	
	.instructions {
		margin-bottom: 2rem;
		border: 0px;
		color: #21373d;
		background: #e9d7df;
		padding: 1.5rem;
		border-radius: 8px;
		text-indent: 2em;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: #c7d2d4;
		color: #21373d;
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: #1f2623;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
